
.Stats {
  text-align: center;
  margin: auto;
  width: 50%;
  height:40% ;
  padding-top: 10%;
}


table, tr, td {
  border: 2px solid black;
  padding:5px;
  Text-align:center;
  margin-left:auto;
  margin-right:auto;

}
