
.Status {
  text-align: center;
  margin: auto;
  width: 65%;
  height:40% ;
}


table, tr, td {
  border: 2px solid black;
  padding:10px;
  Text-align:center;
  margin-left:auto;
  margin-right:auto;
  background-color:#1AA086;
  color:white;
  border:white;
}
